.headerPrincipal .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerPrincipal-nav {
    display: flex;
}
.contenidoPrincipal-cursos{
    display: flex;
    flex-wrap: wrap;
}
.contenidoPrincipal-cursos-link{
    display: flex;
    width: 23%;
}
.videoSobre .container{
    display: flex;
}
.videoSobre-video{
    flex-grow: 2;
    flex-shrink: 2;
}
.videoSobre-sobre{
    text-align: center;
    display: flex;
    flex-direction: column;
}
.videoSobre-sobre-list{
    flex-grow: 2;
}


/* Inicio de footer */
.rodapePrincipal-patrocinadores .container{
    display: flex;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    margin-right: 5%;
}

.rodapePrincipal-contatoForm{
    width: 25%;
}

.rodapePrincipal-contatoForm-fieldset{
    display: flex;
}
.rodapePrincipal-navMap-list{
    display: flex;
    flex-direction: column;
    height: 275px;
    flex-wrap: wrap;
}





/* ----------------- Responsive-----------------------------    */

@media (max-width:768px) {
    .headerPrincipal .container{
        flex-direction: column;
        align-items: initial;
        text-align: center;
    }

    .headerPrincipal-nav{
        flex-direction: column;
    }

    .contenidoPrincipal-cursos{
        flex-direction: column;
    }

    .contenidoPrincipal-cursos-link{
        width: 100%;
    }

    .rodapePrincipal-patrocinadores .container{
        flex-direction: column;
    }

    .rodapePrincipal-patrocinadores-list{
        align-items: center;
        width: 100%;
        margin: 0;
    }

    .rodapePrincipal-navMap-list{
        height: auto;
        flex-wrap: nowrap;
    }

    .rodapePrincipal-contatoForm{
        width: 100%;
    }

    .rodapePrincipal-contatoForm-fieldset{
        justify-content: center;
    }
    .videoSobre .container{
        flex-direction: column;
    }
}