.titulo_centralizado{
    padding-left: 30px;
}
#banner{
    width: 100%;
}
.titulo_centralizado{
    text-align: center;
}
.principal{
    background: #cccccc;
    width: 100%;
    padding: 20px;
}

p{/* Esto se llama selector en css.*/
    text-align: center;   
}

#mision{
    font-size: 24px;
}

em strong{
    color: red;
}

.diferenciales{
    background-color: azure;
    padding: 30px;
}

.items{
    font-style: italic;
}
.items_block{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
.img_diferenciales{
    width: 50%;
}